.section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-job {
    padding-bottom: 94px;
}

.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.section-work {
    padding: 94px 0;
}